@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.top-bar-area {
  background-color: #635cdb;
  padding: 10px 0;
}
.top-bar-area a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
}
/* Header styling */
.header {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header .navbar-brand.logo {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}

.navbar-nav.halim-menu li a {
  color: #333;
  font-size: 17px;
  font-weight: 500;
  margin: 0 5px;
  transition: 3s;
}
.navbar-nav.halim-menu li a:hover {
  color: #635cdb;
}
.navbar-nav.halim-menu li ul {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  border: 1px solid #f4f4f4;
  background-color: #fff;
  padding: 6px;
}
.navbar-nav.halim-menu li ul li a {
  font-size: 16px;
  font-weight: 400;
}
/* Sider Area  styling */
.single-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  color: #fff;
}
.single-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.8;
  z-index: 1;
}
.slide-content {
  position: relative;
  z-index: 2;
  color: #fff;
}
.slide-content h4::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #635cdb;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}
.slide-content h4 {
  text-transform: capitalize;
  position: relative;
  font-size: 1.5rem;
  padding-bottom: 15px;
}
.slide-content h1 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 50px;
}
/* all buttons styling (start) */
.box-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background-color: #635cdb;
  font-weight: 600;
  padding: 10px 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.box-btn:hover {
  background-color: #494679;
  transform: scale(1.05);
}
/* all buttons styling (ends) */
.sider-area .owl-dots {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.sider-area .owl-dots button {
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: block;
  margin: 15px 0;
}
.sider-area .owl-dots button.active {
  background-color: #635cdb;
}
/* About styling */
.section-title {
  position: relative;
  margin-bottom: 80px;
}
.section-title::before {
  position: absolute;
  content: "";
  /* width: 80px;
  height: 2px; */
  width: 2px;
  height: 90px;
  background-color: #635cdb;
  left: 50%;
  transform: translateX(-50%);
  /* transform: translateX(-50%) rotate(90deg); */
}

.section-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #635cdb;
  left: 50%;
  bottom: -14px;
  transform: translateX(-50%);
}
.section-title h4 {
  text-transform: capitalize;
  font-weight: 700;
  font-weight: 30px;
}
.section-title h4 span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
}

.page-title {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 7px;
  margin-bottom: 15px;
}
/* underline on all class name with page-title styling (start) */
.page-title::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #635cdb;
  bottom: 0;
}
/* underline on all class name with page-title styling (end) */
.about-icon i {
  border: 1px solid #635cdb;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #635cdb;
  transition: 0.3s;
}
.single-about:hover .about-icon i {
  background-color: #635cdb;
  color: #fff;
}
/* Features Area  styling */
.features-area {
  background-size: cover;
  background-position: center;
  position: relative;
}
.features-area::before {
  content: "";
  position: absolute;
  background-color: #333;
  opacity: 0.8;
  z-index: 1;
  inset: 0; /* left: 0; top: 0; */
}
.features-area > .container {
  position: relative;
  z-index: 2;
}
.features-area .page-title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}
.features-area .accordion-button {
  background-color: #635cdb;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.features-area .accordion-item {
  border: 0;
}
.features-area .single-progress h5 {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.features-area .progress {
  height: 20px;
  border-radius: 0;
  background-color: #fff;
}
.features-area .progress-bar {
  background-color: #635cdb;
  height: 20px;
}
